extends layout

block content
  h1 G Class

  if session_id
    p 
      a(href= '/new') Add new student
    p
      a(href= '/all_students') List of all students

  else
    p
      a(href='/signup') Sign Up
    p
      a(href='/signin') Sign In
