extends layout

block content
  h1= title
  if statusSignedIn
    p= session_id + ", you are signed in."
    p
      a(href= '/logout') Logout
  else
    p
      a(href='/signup') Sign Up
    p
      a(href='/signin') Sign In
