doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h1 G Class
 
    if session_id
      p= session_id + ", you are signed in."
      p
        a(href= '/logout') Logout
    block content
 
