extends layout

block content
  h1= title
  h1= subtitle
  include error.jade

  if signin
    form(id='signinForm', action='/signin', method='POST')
      p
        | email
        input(id='inputEmail' name='inputEmail' type='text')
      p
        | password
        input(id='inputPassword' name='inputPassword' type='text')
      p
        button(type='submit') Sign In
  else
    form(id='signupForm', action='/signup', method='POST')
      p
        | email
        input(id='inputEmail' name='inputEmail' type='text')
      p
        | password
        input(id='inputPassword' name='inputPassword' type='text')
      p
        button(type='submit') Sign Up